
@page "/Products"
@inject ProductServices svc
@using Estore.Server.Models
@*<h3>show_products @Products[0].Name</h3>*@

@foreach (var product in Catalog.Products)
{
    <h3>@product.Name</h3><br />
    
}

@code {

    private Catalog Catalog { get; set; } = new Catalog();
    protected async override Task OnInitializedAsync()
    {
        Catalog = await svc.GetProduct();
        await base.OnInitializedAsync();
    }



}
