@page "/Welcome-Seller"

<div class="w-100">
    <h1 class="text-center">Welcome Seller</h1>
    <hr />

    @*Add Product Div*@
    <div class="text-center">
        <AddProducts></AddProducts>
    </div>
    <hr />
    @*Show Products Div*@
    @*<div>
        <DisplayProducts></DisplayProducts>
    </div>*@
</div>

@code {
    
}
